@font-face {
  font-family: "lbds-font";
  src: url(@/assets/fonts/lbds-font.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "lbds-sub";
  src: url(@/assets/fonts/lbds-sub.ttf) format("truetype");
  font-weight: normal;
}
